.projects-container {
    background-color: silver;
}

.projects-image {
    max-width: 100vw;
}

.projects-project--title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}