.projects-container {
    background-color: silver;
}

.projects-image {
    max-width: 100vw;
}

.projects-project--title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: gold;
    font-weight: bold;
}

.projects-project--description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 30px 25px 50px;
    background-color: gold;
    text-align: center;
}

.projects-project--link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}