.resume-container {
    & li {
        padding: 0 10px;
        list-style: none;
        padding-bottom: 15px;
    }
}

.resume-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    background-color: antiquewhite;
}

// icons
.bubble {
    color: green;
    margin-right: 2px;  
}
.python {
    color: gold;
    margin-right: 2px;
}
.js {
     color: gold;
     background-color: black;
    margin-right: 2px;
}
.html {
 color: red;
    margin-right: 2px;
}
.sql {
 color: lightblue;
    margin-right: 2px;
}
.trello {
 color: blue;
    margin-right: 2px;
}
.tools {
 color: black;
    margin-right: 2px;
}
.game {
 color: black;
    margin-right: 2px;
}
.bug {
 color: red;
    margin-right: 2px;
}
.microchip {
 color: silver;
    margin-right: 2px;
}
.laundry {
 color: blue;
    margin-right: 2px;
}
.gas {
 color: green;
    margin-right: 2px;
}
.react {
 color: lightblue;
    margin-right: 2px;
}
.jira {
 color: blue;
    margin-right: 2px;
}
.django {
 color: black;
    margin-right: 2px;
}
.ms {
    color: black;
    margin-right: 2px; 
}
.access {
    color: red;
    margin-right: 2px;
}
.football {
    color: black;
    margin-right: 2px;
}
.whistle {
    color: green;
    margin-right: 2px;
}
.school {
    color: green;
    margin-right: 2px;
}
.school2 {
    color: black;
    margin-right: 2px;
}
.medal {
    color: gold;
    margin-right: 2px;
}
.win {
    color: green;
    margin-right: 2px;
}
