.nav-container {
    display: flex;
    flex-direction: column;     
}


.header-welcome-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
 }

 .section-title {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 20px 0;
}