.contact-container {
    background: url('/assets/images/background1.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.5em;
    padding: 20px 0;
}

.contact-link-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
}

//fix for background images in desktop 0105211902
@media (min-width: 1075px) {
    .contact-container {
        background-size: 100%;
    }
}

