.btn {
    background-color: honeydew;
    text-decoration: none;
    // width: 100pxvh;
    height: 10vh;
    padding: 5%;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    border: 3px dotted gold;
    border-color: greenyellow;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}